/* 

main-title-color #212121
main-text-color #757575
accent-color #2196F3 
trasparent-white-color rgba(255, 255, 255, 0.6)
main-white-color #FFFFFF
primary-bg-color #E5E5E5
secondary-bg-color #F5F4FA 
tertiary-bg-color #2F303A
secondary-logo-color #000000
*/

:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --trasparent-white-color: rgba(255, 255, 255, 0.6);
  --main-white-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --secondary-logo-color: #000000;
  --tertiary-bg-color: #2f303a;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}
h2,
h3 {
  color: var(--main-title-color);
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*--------------------------------------- HEADER ----------------------------------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
.logo {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-second-part {
  color: var(--secondary-logo-color);
}
.nav-link {
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--main-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-contact {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contact:hover,
.nav-contact:focus {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
}
.nav-list.contacts {
  margin-left: auto;
}
.nav-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}
.main-nav {
  display: flex;
  align-items: center;
  background-color: var(--main-white-color);
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*------------------------------------ MAIN----------------------------------- */

/* ------------------------------------HERO---------------------------------- */
.hero {
  background-color: var(--tertiary-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-center {
  margin-right: auto;
  margin-left: auto;
  width: 696px;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* ---------------------------------MODAL------------------------------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background-color: var(--main-white-color);

  transform: translate(-50%, -50%) scale(1);
  translate: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.button-close-modal {
  display: block;
  cursor: pointer;
  margin-left: auto;
  border: none;
  padding: 0px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: transparent;
}
.close-icon {
  width: 30px;
  height: 30px;
}
/* ---------------------------------------SECTIONS--------------------------------- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid green; */
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.section.work {
  padding-top: 0;
}
.section.staff {
  background-color: var(--secondary-bg-color);
}
.vantages-list,
.work-list,
.staff-list {
  display: flex;
}
.vantages-item + .vantages-item,
.work-item + .work-item,
.staff-item + .staff-item {
  margin-left: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.vantages-item {
  width: 270px;
}
.vantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.vantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.vantages-thumb {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  margin-bottom: 30px;
  padding: 25px 100px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.vantages-thumb:hover {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vantages-icon {
  display: block;
  width: 70px;
  height: 70px;
}
.work-item {
  position: relative;
}
.work-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px 27px 83px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.staff-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.staff-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.staff-card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: block;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/* -------------------------------------FOOTER------------------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--tertiary-bg-color);
}
.footer-flex {
  display: flex;
}
.footer .logo-second-part {
  color: var(--main-white-color);
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-map {
  color: var(--main-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
}
.address-contact {
  color: var(--trasparent-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contact:hover,
.address-contact:focus {
  color: var(--accent-color);
}
.address-item + .address-item {
  margin-top: 9px;
}
.join {
  margin-left: 70px;
}
.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-white-color);
}
.join-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

/* --------------------------------PORTFOLIO PAGE ---------------------------------*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  color: var(--main-title-color);
  background-color: var(--secondary-bg-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-item + .filter-item {
  margin-left: 8px;
}
.gallery-img-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .gallery-img-overlay {
  transform: translateY(0);
}
.gallery-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
/* .gallery-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.gallery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
.gallery-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
